<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
</head>
<body>

 <%- include("partials/header") -%>
 <form action="/" method="post">
    <h1>
      Contact Us
    </h1>
    <p>In the computing world, full stack refers to the entire set of software solutions and technologies applied to build a platform, website, or application. All application or website development projects have two basic parts—front end (client-side) and back end (server-side)—which are combined in full-stack development.</p>
    
</form>
<%- include("partials/footer") -%>
<a href="/">Home</a>
</body>
</html>



