body {
    background-color: rgb(238, 238, 238);
    font-size: 26px;
}
body {
    background-color: rgb(238, 238, 238);
    font-size: 26px;
}

nav.flexbox {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    list-style: none;
}

nav.flexbox a{
    justify-content: space-between;
    margin-right: auto;
    font-size: 1.5em;
    list-style-type: none;
    list-style: none;
} 
    

    ul {        
        display: flex;
        align-items: center;
    }

    ul li {
        margin-right: 20px;
        list-style: none;
       display: inline-block;
       padding: 0 20px;
    }

header, footer {
    background-color: ghostwhite;
    padding: 20px;
}











  
  li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    justify-content: space-between;
  }
  li a{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 0 20px;
  }
  #navbartitle{
    justify-content: space-between;
    margin-right: auto;
    font-size: 1.5em;
}
header, footer {
    background-color: ghostwhite;
    padding: 20px;
}
